.account-detail {
    display: flex;
    align-items: center;
    background-color: #fafafa;
    border: 1px solid #eeeeee;
    padding: 8px 16px;
    margin: 24px auto;
    width: 96%;
    box-shadow: 0 0 12px -3px rgba(0, 0, 0, 0.45);
}

.account-detail *:not(.account-balance) {
    color: var(--main-color);
}

.account-title {
    font-size: 1.2em;
}

.account-addresss-wrapper {
    flex: 1;
}

.account-addresss {
    font-family: Yantramanav-light;
    letter-spacing: 0.5px;
}

.account-balance-wrapper {
    text-align: center;
}

.account-balance {
    font-family: Yantramanav-Bold;
    letter-spacing: 0.5px;
    font-size: 1.4em;
}


@media (max-width: 768px) {
    .account-detail {
        flex-direction: column;
        padding: 8px;
    }

    .account-title {
        text-align: center;
    }

    .account-addresss-wrapper {
        padding-bottom: 16px;
    }
    

    .account-balance-wrapper,
    .account-addresss-wrapper {
        width: 100%;
    }

    .account-addresss {
        text-align: center;
        word-break: break-all;
    }
}