.password-wallet-fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
    padding-bottom: 16px;
}

.password-wallet-label {
    text-align: center;
    font-size: 1.1em;
    color: var(--secondary-color);
    padding-bottom: 8px;
}

.password-wallet-input-wrapper {
    border-radius: 0.6em;
    display: flex;
    width: 100%;
    overflow: hidden;
}

.password-wallet-input-wrapper button {
    font-family: Yantramanav-Bold;
    background: var(--secondary-color);
    display: block;
    padding: 8px;
    min-width: 60px;
    width: 60px;
}

.password-wallet-input {
    flex: 1;
    padding: 8px
}